<ion-header class="ion-text-center">
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Donor chat history
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="channels.length > 0">
    <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="9" size-lg="8" size-xl="6" size-xs="12" size-sm="10">
            <ion-list class="welcome-card" *ngFor="let item of channels">
                <ion-item (click)="openChat(item?.name)">
                    <ion-icon slot="start" name="person" color="secondary"></ion-icon>
                    <ion-label>{{changeValue(item?.name)}}</ion-label>
                    <ion-icon name="ios-arrow-forward" slot="end" size="large" color="secondary"></ion-icon>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
</ion-content>
<ion-content *ngIf="channels.length == 0">
    <div class="fullheight xc">
        <div>
            <h3 class="item-color">No chat history found</h3>
        </div>
    </div>
</ion-content>
