<ion-header class="ion-text-center">
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Update Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="9" size-lg="8" size-xl="6" size-xs="12" size-sm="10">
            <ion-card no-border no-padding>
                <ion-grid class="ion-padding-top">
                    <div [formGroup]="updateForm">
                        <ion-input [hidden]="true" value="{{user?.id}}" formControlName="id"></ion-input>
                        <ion-item>
                            <ion-label position="floating">First Name</ion-label>
                            <ion-input placeholder="First Name" value="{{user?.first_name}}" formControlName="first_name"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Last Name</ion-label>
                            <ion-input placeholder="Last Name" value="{{user?.last_name}}" formControlName="last_name"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Email</ion-label>
                            <ion-input placeholder="Email" value="{{user?.email}}" formControlName="email"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">User name</ion-label>
                            <ion-input placeholder="User Name" value="{{user?.user_name}}" formControlName="user_name"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Password</ion-label>
                            <ion-input placeholder="Password" value="{{user?.password}}" formControlName="password"></ion-input>
                        </ion-item>

                        <ion-grid style="padding-top: 50px" class="ion-padding-top">
                            <ion-row class="ion-justify-content-center">
                                <ion-button (click)="updateData()" shape="square" [disabled]="!updateForm.valid" >Save</ion-button>
                            </ion-row>
                        </ion-grid>
                    </div>
                </ion-grid>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
