<ion-content *ngIf="result.length > 0">
    <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="9" size-lg="8" size-xl="6" size-xs="12" size-sm="10">
            <ion-list>
                <ion-item *ngFor="let item of result">
                    <ion-icon slot="start" name="person" color="secondary"></ion-icon>
                    <p (click)="showSingleItem(item?.donor?.id)">{{item?.donor?.user.first_name}} {{item?.donor?.user.last_name}}</p>
                    <ion-img (click)="updateItem(item?.donor?.id)" style="width: 30px; height: 30px; cursor: pointer;"
                             src="/assets/pencil-sharp.svg"
                             alt="update" slot="end"></ion-img>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
</ion-content>
<ion-content *ngIf="result.length == 0">
    <div class="fullheight xc">
        <div>
            <h3 class="item-color">No Donor</h3>
        </div>
    </div>
</ion-content>
