
.bottom-right {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.profile-picture {
  border-radius: 50%;
  width: 145px;
  height: 145px;
  object-fit: cover
}

.border {
  box-shadow: none !important;
}

.star {
  color: #a2a4ab;
}

.fullheight {
  height: 100%;
}

.xc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-color {
  color: #bababa;
}

