.border {
  box-shadow: none !important;
}

.fullheight {
  height: 100%;
}

.xc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-color {
  color: #bababa;
}


.detail-p {
  font-size: 17px;
  color: black;
  font-weight: bold;
}

.value-p {
  margin: 3px 0 0 7px;
}

.line {
  background: gray;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

