<ion-app>
    <ion-split-pane>
        <ion-menu *ngIf="user" type="overlay">
            <ion-content>

                <ion-menu-toggle auto-hide="false">
                    <ion-header class="bar-profile">
                        <div *ngIf="user" class="profile">
                            <img [routerLink]="['profile-picture']" class="profile-picture"
                                 src="{{user?.image || user?.user?.image || defaultImage}}"/>
                            <h3 class="name">{{user?.user?.first_name}} {{user?.user?.last_name}}</h3>
                            <h3 class="name">{{user?.first_name}} {{user?.last_name}} ({{roleName}})</h3>
                        </div>
                        <div *ngIf="!user" class="profile">
                            <img class="profile-picture" src="assets/person-circle-outline.png"/>
                            <h3 class="name">Your Name ({{roleName}})</h3>
                        </div>
                    </ion-header>
                    <ion-item *ngFor="let p of appPages" [routerDirection]="'root'" [routerLink]="[p.url]" mode="md">
                        <ion-icon slot="start" [name]="p.icon" color="secondary"></ion-icon>
                        <p><b>{{p.title}}</b></p>
                        <ion-icon name="ios-arrow-forward" slot="end" size="large" color="secondary"></ion-icon>
                    </ion-item>
                    <ion-item lines="none" class="logout">
                        <ion-button (click)="logOut()" size="default" shape="round" expand="full" color="danger">
                            Logout
                            <ion-icon class="logout-icon" size="large" name="log-out"></ion-icon>
                        </ion-button>
                    </ion-item>
                </ion-menu-toggle>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>
