.logout {
  padding-left: 50px;
  padding-top: 50px;
}

.logout-icon {
  padding-left: 10px;
}

.bar-profile {
  background-color: #0cd1e8;
  height: 200px;
}

.profile {
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding-top: 15px;
}

.name {
  color: #FFFFFF;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.profile-picture {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.has-header {
  top: 169px;
}
