<ion-header class="ion-text-center">
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{user?.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="9" size-lg="8" size-xl="6" size-xs="12" size-sm="10">
            <ion-card class="welcome-card">
                <ion-card-header>
                    <ion-card-title>{{user?.name}}</ion-card-title>
                    <ion-card-subtitle>{{user?.email}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <div style="display: flex">
                        <p class="detail-p">Dependants: </p>
                        <p class="value-p">{{user?.no_of_dependents}}</p>
                    </div>
                    <div style="display: flex">
                        <p class="detail-p">Type: </p>
                        <p class="value-p">{{user?.type}}</p>
                    </div>
                    <div style="display: flex">
                        <p class="detail-p">Address: </p>
                        <p class="value-p">{{user?.address.streetAddress}} {{user?.address.city}}</p>
                    </div>
                    <div style="display: flex">
                        <p class="detail-p">Contact Number: </p>
                        <p class="value-p">{{user?.contact}}</p>
                    </div>
                    <div style="display: flex">
                        <p class="detail-p">Bank detail: </p>
                        <p class="value-p">{{user?.bank_name}} | {{user?.account_no}} </p>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
