<ion-header class="ion-text-center">
    <ion-toolbar color="secondary">
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="loginForm">
        <ion-grid>
            <ion-row class="ion-justify-content-center">
                <ion-col class="ion-align-self-center" size-md="9" size-lg="8" size-xl="6" size-xs="12" size-sm="10">
                    <div class="ion-text-center">
                        <h3>Login to your account!</h3>
                    </div>
                    <div class="ion-padding">
                        <ion-item>
                            <ion-input formControlName="email" type="text" placeholder="Email"></ion-input>
                        </ion-item>
                        <span class="error-message" *ngIf="isSubmitted && errorControl.email.errors?.required">email is required.</span>
                        <ion-item>
                            <ion-input placeholder="Password" formControlName="password" [type]="passwordType"
                                       clearOnEdit="false"></ion-input>
                            <ion-icon item-end [name]="passwordIcon" class="passwordIcon"
                                      (click)='hideShowPassword()' color="secondary"></ion-icon>
                        </ion-item>
                        <span class="error-message" *ngIf="isSubmitted && errorControl.password.errors?.required">Password is required.</span>
                    </div>
                    <div class="ion-padding">
                        <ion-button shape="round" (click)="login()" color="primary" type="submit"
                                    expand="block">Login
                        </ion-button>
                    </div>
                    <div>
                        <ion-label *ngIf="test">Invalid email OR password. Please Enter correct details.</ion-label>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
    <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xl="4" size-xs="12">
            <ion-text (click)="forgotPassword()" color="danger">
                <h4 style="padding-left: 30px">Forgot Password?</h4>
            </ion-text>
        </ion-col>
    </ion-row>
    <ion-footer style="padding-top: 40px">
        <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xl="4" size-xs="12">
                <ion-button (click)="registerUser()" color="secondary" expand="block">
                    <ion-img class="register-icon" src="/assets/person-add-sharp.svg"></ion-img>
                    REGISTER A NEW USER
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-footer>
</ion-content>
