
.profile-picture {
  border-radius: 50%;
  width: 145px;
  height: 145px;
  object-fit: cover
}
.border{
  box-shadow: none !important;
  border-radius: 0 !important;
}

.title {
  font-size: 20px;
}

.star{
  color: #a2a4ab;
}

.fullheight {
  height: 100%;
}

.xc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-color{
  color: #bababa;
}

.cameraIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 9px 0 0 10px;
}
