<ion-header class="ion-text-center">
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Feed the hunger</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="9" size-lg="8" size-xl="6" size-xs="12" size-sm="10">
            <ion-card class="welcome-card">
                <img src="/assets/food.png" alt=""/>
                <ion-card-header>
                    <ion-card-title>Welcome to Feed the hunger App</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p>This application show the list of charity house in your city. where you can donate food OR money to your
                        selected charity house. The system will send notification of your donation to charity house. Charity
                        house will collect food from your's. Your money donations will transfared to bank account of the
                        selected charity house. And that is only possible when you have a bank account and card number.</p>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
