<ion-header class="ion-text-center">
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Donate Food</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="donateFoodForm">
        <ion-grid>
            <ion-row class="ion-justify-content-center">
                <ion-col class="ion-align-self-center" size-md="9" size-lg="8" size-xl="6" size-xs="12" size-sm="10">
                    <div class="ion-text-center">
                        <h3>Provide Food Information</h3>
                    </div>
                    <div class="ion-padding">
                        <ion-item>
                            <ion-input placeholder="Enter Name" formControlName="name"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-datetime placeholder="Expiry Date" pickerFormat="YYYY MM DD"
                                          formControlName="expiry_date"></ion-datetime>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Select Type</ion-label>
                            <ion-select formControlName="type" placeholder="--Select--" okText="OK"
                                        cancelText="Dismiss">
                                <ion-select-option value="fast Food">Fast Food</ion-select-option>
                                <ion-select-option value="rise">Rise</ion-select-option>
                                <ion-select-option value="simple food">Simple Food</ion-select-option>
                                <ion-select-option value="simple food">Fruit</ion-select-option>
                                <ion-select-option value="simple food">Dry Fruits</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-input placeholder="Quantity" formControlName="quantity"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Unit</ion-label>
                            <ion-select formControlName="unit" placeholder="--Select--" okText="OK"
                                        cancelText="Dismiss">
                                <ion-select-option *ngFor="let item of units"
                                                   value="{{item}}">{{item}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label id="food_image" color="primary" stacked>Food Image</ion-label>
                            <ion-input type="file" accept="image/*" id="upload"
                                       (change)="imageFileChanged($event)"></ion-input>
                        </ion-item>
                        <ion-item *ngIf="isLabeling">
                            <ion-label position="floating">Food Label</ion-label>
                            <ion-select formControlName="type" placeholder="--Select--" okText="OK"
                                        cancelText="Dismiss" id="food-label">
                                <ion-select-option *ngFor="let label of labels" value="{{label.label}}">{{label.label}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </div>
                    <div class="ion-padding">
                        <ion-button size="default" [disabled]="donateFoodForm.invalid"
                                    (click)="uploadImageAndFoodDonation()"
                                    color="primary" type="submit" expand="block">Donate Food
                        </ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
