
.food-image {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.detail-p {
  font-size: 17px;
  color: black;
  font-weight: bold;
}

.value-p {
  margin: 3px 0 0 7px;
}

.line {
  background: gray;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}
